server:
  http_listen_port: 9080
  grpc_listen_port: 0

clients:
  - url: https://1380112:glc_eyJvIjoiMTU3NTU3MCIsIm4iOiJzdGFjay0xNDIyMzE4LWhsLXJlYWQtc29sdml1bXRva2VuIiwiayI6IjNCSzQ2OUVlOWNCSks4MjZuT2cxWjN2RSIsIm0iOnsiciI6InByb2QtZXUtd2VzdC0yIn19@logs-prod-012.grafana.net/loki/api/v1/push

positions:
  filename: /tmp/positions.yaml

scrape_configs:
  - job_name: docker
    static_configs:
      - targets:
          - localhost
        labels:
          job: solvium
          host: solvium-server
          __path__: /var/lib/docker/containers/*/*.log
