server:
  http_listen_port: 0
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: ${LOKI_URL}

scrape_configs:
  - job_name: docker
    static_configs:
      - targets:
          - localhost
        labels:
          job: solvium
          host: ${HOSTNAME}
          __path__: /var/lib/docker/containers/*/*.log
